<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="assets/styles/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Shavar.io</title>
  </head>
  <body>
    <!-- nav bar-->
    <div class="sidenav" id="myTopnav">
      <h1>Hi, I'm Shavar.</h1>
      <a href="#home" class="active">Home</a>
      <a href="#projects">Projects</a>
      <a href="#about">About</a>
     
    </div>
    <div class="">
   
    </div>
    
    <!-- page content-->
    <div style="margin-left:50%">

      <div class="w3-container">
      <h3>Welcome To My Developer Portfolio</h3>
      <p>Put any element inside the sidebar.</p>
      </div>
      
      </div>
    
  </body>
</html>